.newpicks__content {
  padding: 8rem 0;
}

.newpicks__content p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(0, 23, 71);
}

.newpicks__content h2 {
  margin-top: 1rem;
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  color: rgb(0, 23, 71);
}

.slider__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  transition: transform 0.6s ease;
}

.image-container img:hover {
  cursor: pointer;
  transform: scale(
    1.03
  ); /* Adjust the scale value for the desired zoom level */
}

.image-container {
  position: relative;
  width: 100%; /* Adjust the size as needed */
  /* height: 100%; Adjust the size as needed */
  overflow: hidden;
  transition: transform 1s ease-in-out;
  padding: 0%;
  margin: 1.2rem 0.9rem;
}

.image-container:hover {
  position: relative;
  width: 100%; /* Adjust the size as needed */
  /* height: 100%; Adjust the size as needed */
  overflow: hidden;
  transition: transform 1s ease-in-out;
  padding: 0%;
  margin: 1.2rem 0.9rem;
  cursor: pointer;
}

.visible {
  transform: translateX(10%); /* Image is visible */
}

.hidden {
  transform: translateX(-10%); /* Move image out of view to the left */
}

.newpicks__text-img {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(0, 23, 71);
  margin-top: 0.9rem;
}

.slider {
  display: none;
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ======================= */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-xl);
  }

  section {
    margin-top: 6rem;
  }
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ======================= */

@media screen and (max-width: 600px) {
  .slider__content {
    display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .slider {
    display: block;
    /* margin: 1rem; */
  }

  .image-container {
    display: none;
  }

  .newpicks__content {
    margin: 1rem;
    padding: 0;
  }

  .image-container-slider img {
    width: 100%;
  }
}
